{% extends "bootstrap/base.html" %}
{% block title %}新闻资讯{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock %}
{% block navbar %}
    <div class="header_con">
        <div class="header">
            <a href="#" class="logo fl"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo"></a>
            <ul class="menu fl">
                <li class="active" data-cid="1"><a href="javascript:;">最新</a></li>
                <li data-cid="2"><a href="javascript:;">股市</a></li>
                <li data-cid="3"><a href="javascript:;">债市</a></li>
                <li data-cid="4"><a href="javascript:;">商品</a></li>
                <li data-cid="5"><a href="javascript:;">外汇</a></li>
                <li data-cid="6"><a href="javascript:;">公司</a></li>
            </ul>
            <div class="user_btns fr">
                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
            </div>
            <!-- 用户登录后显示下面，隐藏上面 -->
            <div class="user_login fr">
                <img src="{{ url_for('static',filename='images/person01.png') }}" class="lgin_pic">
                <a href="#">用户张三</a>
                <a href="#" onclick="logout()">退出</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="conter_con">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    <div class="footer">
        <div class="footer_links">
            <a href="">关于我们</a>
            <span>|</span>
            <a href="">联系我们</a>
            <span>|</span>
            <a href="">招聘人才</a>
            <span>|</span>
            <a href="">友情链接</a>
        </div>
        <p class="copyright">
            CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br/>
            电话：010-****888 京ICP备*******8号
        </p>
    </div>
    {{ super() }}
{% endblock %}